<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Set your browser-->
    <add key="Browser" value="Chrome"/>
    <add key="ElementTimeout" value="30"/>
    <add key="BaseUrl" value="https://www.mail.ru"/>
    <add key="RandomEmailServiceUrl" value="https://10minutemail.net/"/>
  </appSettings>
</configuration>